Pyrogram==2.0.106
tgcrypto==1.2.5
pyromod==1.5
aiohttp==3.8.4
requests==2.31.0
urllib3==2.0.3
idna==3.4
certifi==2023.5.7
charset-normalizer==3.1.0
mutagen==1.46.0
pycryptodome==3.18.0
pyaes==1.6.1
PySocks==1.7.1
cloudscraper
beautifulsoup4==4.9.3
bs4==0.0.1
soupsieve==2.4.1
websockets==11.0.3
motor
umongo==3.1.0
pytz
speedtest-cli
async-lru==2.0.2
python-dotenv==1.0.0
