pyrogram==2.0.106
tgcrypto==1.2.5
requests
urllib3
httpx
bs4
beautifulsoup4
tqdm
pytube
streamlink
ffmpeg-python
selenium
browser_cookie3
cloudscraper
pymongo
pycryptodome
python-socks
lxml
idna
certifi
chardet
soupsieve
h11
sniffio
anyio
h2
hpack
hyperframe
httpcore
pyee
colorama
